/vendor/

/composer.lock


/.idea/


/.vscode/

/storage/*.key
/storage/logs/*
/bootstrap/cache/*


.env
.env.*.local


*.log
*.cache
*.tmp


*.session


public/uploads/

*.sql
*.sqlite
*.db

.phpunit.result.cache

/node_modules/


.DS_Store
Thumbs.db

*.swp
*.swo
*.bak
*.tmp